/* Aquí definimos las Custom properties */
:root {
    --negro: #393939;
    /* Tipografía */
    
    --tipo-principal: 'Montserrat', sans-serif;
    --tipo-secundaria: Verdana;
    --z-index--: 5000;
    --z-index--menu--: 4000;
    --color--: #181823;
    --color-bg--: #FFFFFF;
}

  /* Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
    :root {
        --negro: #ececec;
    }
}
 */
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline; */
}

  /* Configuramos la tipografía para toda la web */
  body {
    /* min-height: 100vh;
    font-size: 100%; */
    font-family: var(--tipo-principal);
    background-color: var(--color--);
    color: var(--color-bg--);

    transition: background-color 0.5s, color 0.5s;
    
    
    /* opcional */
    /* line-height: 1.4rem; */
}

body.darkMode {
  --color-bg--: #181823;
  --color--: #FFFFFF;
}

  /* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;

}

  /* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

  /* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}

  /* Quitamos los puntos de los <li> */
li {
    list-style-type: none;
}

  /* Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
}

  /* Desactivamos estilos por defecto de las principales etiquetas de texto */

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1rem;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

  /* Configuramos el texto que seleccionamos */
/* ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
} */
/* ::selection {
    background-color: var(--negro);
    color: var(--blanco);
} */

  /* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;

}

  /* Reseteamos las tablas */
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

  /* Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

.header__logo a {
  font-size: 2rem;
  font-weight: 700;
}

.iconTheme {
  font-size: 1.3rem;
  cursor: pointer;
  user-select: none;
}


.iconShowMenu{
  /* position: fixed; */
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: var(--z-index--menu--);
  display: none;
    
}


.container__principal {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
}

.header__navbar{
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--color--);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: var(--z-index--);
}

.header__navbar--li{
  
  display: flex;
  gap: 1rem;
}


.bxs-file-js{
  color: #FFC75F
}
.bxl-react{
  color: #26A7DE
}
.bxl-nodejs{
  color:#07570c
}

.about__skillset{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1em;
}
.about__skillset p{
  
  font-size: 1.5rem;
  font-weight: 500;
}

.about__skillset{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bx-code-alt,
.bxl-github,
.bx-code{
  font-size: 2.5em;
  color: #5221E6;
  margin-bottom: 0.5em;    
}

.skillset__title{
  margin-bottom: 0.5em;
}

.skillset__value{
  color: #8491A0;
  font-weight: 600;
  font-size: 1.3rem;
}

.portfolio__title{
  font-size: 1.5rem;
  font-weight: 700;


}

.portfolio{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

.portfolio__card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em;

  border: #5221E6 solid 2px;
  border-radius: 0.8em;
  overflow: hidden;
  cursor: pointer;

}

.portafolio__card-title{
  font-weight: 500;
  text-align: center;
}

.contact_cv{
  border: 1px solid #5221E6;
  padding: 1em;
  border-radius: 0.8em;
  font-weight: 500;
}

.contact_cv:hover{
  background-color: #5221E6
}

.contacto h2{
  font-size: 2rem;
  font-weight: 700;
}

.contactame__item-value{
  display: flex;
  gap: 1em;
}

.bxl-linkedin{
  font-size: 2rem;
  color: #26A7DE;
}

.bxl-gmail{
  font-size: 2rem;
  color: #ea4040;
}


/* inicia @media */

@media (max-width: 700px) {

  .header__navbar--li{
    background-color: var(--color--);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    position: fixed;
    top: 50px;
    left: 0;
    height: 100vh;
    width: 40vw;

    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(-200%);
    transition: transform 0.5s;

  }

  .header__navbar--show{
    transform: translateX(0);
  }

  .iconShowMenu{
    position: fixed;  
    
  }

  .home__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.home__span {
  font-size: 0.5rem;
  color: #5221E6;
  
}

  .about__title{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }

  .img__vector{
    width: 5px;
  }
  
  .about__skillset{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1em;
    
  }
  
  .portfolio__card{    
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.3em;

    justify-content: center;
    align-items: center;
    border: #5221E6 solid 2px;
    border-radius: 0.8em;
    overflow: hidden;
    cursor: pointer;
  }

  .contacto{
    margin-top: -10em;
  }

  .contacto h2{
    font-size: 1.5rem;
    font-weight: 700;
  }

  .bxl-linkedin{
    font-size: 2rem;
    color:#26A7DE;
    
  }
  
}
/* termina @media 700*/


.link{
  padding: 0.5rem;
  display: inline-block;
  border-radius: 0.5em;
}

.link--active{
  background-color: #5221E6;
  color: var(--color-bg--);
}



section{
  min-height: 100vh;

  display: flex;
  justify-content:center;
  align-items:center;

  flex-direction: column;
  gap: 1rem;
}

.home{
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.home__title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.home__span {
  font-size: 4rem;
  color: #5221E6;
}
.home__tecnologis,
.bxl-html5,
.bxl-css3,
.bxs-file-js,
.bxl-react,
.bxl-nodejs{
  font-size: 1.3rem;
  font-weight: 600;
  
}


/* .about__img{
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
} */

.about__mi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.about__title{
  font-size: 3rem;
}
.about__description{
  font-size: 1.5rem
}

.about__description{
  line-height: 1.4;
}

.portfolios{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}



@media (min-width: 800px) {
  
    
    .portfolios{    
      grid-template-columns:repeat(3, 1fr);
      gap: 2em;      
    }

    .portfolio__card{
      transition-property: transform 0.8s ease;
    }

    .portfolio__card:hover{
      transform: scale(1.1);
    }

    .portfolios img {
      height: 100%;
      width: 100%;
    } 

    .home__title{
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      
  }

  .home__span {
    font-size: 6rem;
    color: #5221E6;
    
  }

  .home__tecnologis,
  .bxl-html5,
  .bxl-css3,
  .bxs-file-js,
  .bxl-react,
  .bxl-nodejs{
    font-size: 2rem;
    font-weight: 600;
    
  }

  

}

/* termina @media 800px */

.hidden{
  opacity: 0;
  transform: translateX(-100px);

  transition: opacity 0.5s, transform 0.5s;
}

.show{
  opacity: 1;
  transform: translateX(0);
}

.footer{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
}

.footer__title a{
  font-weight: 600;
  font-size: 1rem;
}
.footer__title:hover{
  color: #5221E6; 
}

.footer__li{
  display: flex;
  gap: 5em;  
}

.footer__li-value{
  margin-bottom: 1em;
}

.footer__li-value:hover{
  color: #5221E6; 
}

